@import 'tailwindcss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #000;
  color: #fff;
}

/* Pixel-perfect rendering for hand sprites */
.pixel-art {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Animation keyframes will be added by HandGameAnimation component */
